$font-primary: 'Mulish', sans-serif;

$primary: #FFC300;
$primary2: #7b0655;
$text-dark: #2b2b2b;
$text-body: #686c77;
$white: #ffffff;
$text-rgba: rgba(255, 255, 255, 0.7);


$border-primary:  #FFC300;
$border-light:  rgba(0, 0, 0, 0.1);

$bg-dark: #39022a;
$bg-menu-top: #a91480;
$bg-light: #ccc8ca;